.banner {
    padding: 150px 0;
}

#first-banner {
    background: url('../images/black-skeleton-drama.jpg?w=1200') center fixed;
    background-position-y: -100px;
}

#second-banner {
    background: url('../images/cool-blue-drama.jpg?w=1200') center fixed;
    background-position-y: -100px;
}

#third-banner {
    background: url('../images/white-skeleton-drama.jpg?w=1200') center fixed;
    background-position-y: -100px;
}

@media(max-width: 500px) {
    .banner {
        display: none;
    }
}