.mission {
    background: url('/images/gallery/IMG_20170201_074042_645.jpg') center;
}

.about-us {
    background: url('/images/gallery/IMG_20170217_045515_667.jpg') center;
}

.basilisk {
    background: url('/images/gallery/IMG_20170112_063747_864.jpg') center;
}

.mission, .about-us, .basilisk {
    background-size: cover;
    color: #ececec;

    .container-fluid {
        background-color: rgba(0,0,0,0.7);
    }
}
