.supporting-image {
    display: inline-block;
    width: 3em;
    margin-left: 1em;
}

#product .panel-body {
    background: #000;
}

.main-image {
    width: 50%;
    margin: 0 auto;
}

.supporting-image {
    cursor: pointer;
}

.modal-image {
    width: 25em;
    margin: 0 auto;
}

.modal-header {
    border: 0;
}